@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Shantell+Sans&display=swap");

:root {
	--azul-1: #003785;
	--azul-2: #1465bb;
	--azul-3: #2196f3;
	--azul-4: #81c9fa;
	--azul-5: #b9ffff;
	--fuente-pop: 'Poppins', sans-serif;
	--fuente-shantell: "Shantell Sans", cursive;
}

* {
	margin: 0;
	padding: 0;
}

nav ul {
	display: flex;
	align-items: center;
	justify-content: center;
}

header {
	display: flex;
	width: 100vw;
	height: 80px;
	position: fixed;
	background-color: #fff;
	z-index: 1;
	justify-content: space-between;
	align-items: center;
}

nav ul {
	flex-direction: row;
	width: 60vw;
	height: 80px;
	justify-content: space-evenly;
}

.nav-item {
	list-style: none;
}

.nav-item>a {
	font-family: "Poppins";
	text-decoration: none;
	color: #000;
}

.nav-item:hover>a {
	color: blue;
}

#nombre {
	font-family: "Shantell Sans", cursive;
	font-size: 0.9rem;
	color: #000;
	text-decoration: none;
	margin-left: 5rem;
}

.nav-toggle {
	display: none;
}

img {
	width: 10px;
	height: 10px;
}



/************FOOTER************/
footer {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 80px;
	justify-content: center;
	align-items: center;
	bottom: 0;
}
.social-media
{
	text-align: center;
	width: 100%;
	margin-bottom: 10px;
}
footer a {
	font-size: 30px;
	text-decoration: none;
	color: #000;
	padding: 4%;
}
@media screen and (max-width: 768px) {
	.navbar-list {
		width: 100%;
		height: 100%;
		justify-content: space-around;
	}

	.navbar-list li {
		list-style: none;
	}

	.navbar-list a {
		text-decoration: none;
	}

	nav ul {
		flex-direction: column;
		width: 100vw;
		height: 80px;
		justify-content: space-between;
	}

	.nav-item {
		list-style: none;
	}

	.nav-item>a {
		font-family: "Poppins";
		text-decoration: none;
	}

	img {
		width: 10px;
		height: 10px;
	}

	.nav-toggle {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(-100%, 60%);
		font-size: 1.8rem;
		cursor: pointer;
	}
}


/************CONTACT************/
.contact, .inicio {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
.img-contact {
	width: 60%;
	height: 60%;
}
.form-contact {
	width: 38%;
	height: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.form-contact > input, textarea {
	width: 80%;
	height: 50px;
	margin-bottom: 10px;
	font-size: 15px;
	text-align: center;
	border-radius: 20px;
	border: double 2px transparent;
	background-image: linear-gradient(white, white), linear-gradient(to left, #743ad5, #d53a9d);
	background-origin: border-box;
	background-clip: content-box, border-box;
} 

.form-contact > textarea
{
	height: 100px;
}
.form-contact input[type="submit"]
{
	width: 20%;
	border: double 4px transparent;
}


/************CONTACT************/
#img-inicio
{	
	width: 80%;
	height: 80%;
}
.text-home
{
	padding-top: 10%;
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: var(--fuente-pop);
	font-size: 20px;
}

/************Estilo para los botones************/
#contact-me
{
	width: 140px;
	height: 45px;
	background-color: #D9D9D9;
	border: none;
	border-radius: 15px;
	text-transform: uppercase;
	font-family: var(--fuente-pop);
	font-weight: 1000;
}
/*# sourceMappingURL=style.css.map */