//importar las fuentes
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}
// centrar elementos de un contenedor
%flex
{
    display: flex;
    align-items: center;
    justify-content: center;
}
//Ocupar el 100% del viewport
header
{
    display: flex;
    width: 100vw;
}
nav
{
    ul
    {
        @extend %flex;
        flex-direction: row;
        width: 70vw;
        height: 80px;
        justify-content: space-between;
    }
}
.nav-item
{
    list-style: none;
    & > a
    {
        font-family: 'Poppins', sans-serif;  
        text-decoration: none;
    }
}