*{
    margin: 0;
    padding: 0;
}
%flex 
{
    display: flex;
    flex-direction: row;
    align-items: center;

}
header
{
    nav
    {
        height: 10vh;
    }

}
.navbar-list
{
    @extend %flex;
    width: 60%;
    height: 100%;
    justify-content: space-around;
    li{
        list-style: none;
    }
    a {
        text-decoration: none;
    }
}
nav
{
    ul{
        @extend %flex;
        width: 60%;
        height: 100%;
        justify-content: space-around;
        li{
    
            list-style: none;
        }
        a {
            text-decoration: none;
        }        
    }
    background-color: aqua;
    
}
img{
    width: 10px;
    height: 10px;
}